.markdown-content{
    font-size:16px !important;
    max-height: 745px;
    border-radius: 5px;
    resize: none;
}
.show-html{
    padding: 4px 11px;
    border:1px solid #ddd;
    font-size:16px;
    height: 639px;
    background-color: #f0f0f0;
    overflow-y: scroll
}

.show-html h1{
    font-size:30px;
}

.show-html h2{
    font-size:28px;
    border-bottom: 1px solid #cbcbcb;
}
.show-html h3{
    font-size:24px;
}

.show-html pre{
    display: block;
    background-color:#f3f3f3;
    font-weight: 300;
    font-family: Menlo, monospace;
    padding: 5px;
    border-radius: 5px;
}
.show-html pre>code{
    width: 100%;
    border:0px !important;
    background-color: #283646 !important;
    color:#FFF;
}
.show-html code {
    display: inline-block ;
    background-color:#f3f3f3;
    border:1px solid #fdb9cc;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 3px; 
    color:#4f4f4f;
}
.show-html blockquote{
    border-left:4px solid #cbcbcb ;
    padding: 10px 10px 10px 30px; 
    background-color: #f8f8f8;
}
.introduce-html{
    border:1px solid #ddd;
    padding: 4px 11px;
    border-radius: 5px;
    font-size:14px;
    height:190px;
    background-color: #f0f0f0;
    overflow: auto;
}


.introduce-html h1{
    font-size:30px;
}

.introduce-html h2{
    font-size:28px;
    border-bottom: 1px solid #cbcbcb;
}
.introduce-html h3{
    font-size:24px;
}

.introduce-html pre{
    display: block;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}
.introduce-html pre>code{
    color: #000;
    background-color: #f0f0f0;
}
.introduce-html code {
    background-color: #fff5f5;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 3px; 
    color: #ff502c; 
}
.introduce-html blockquote{
    border-left:4px solid #cbcbcb ;
    padding: 10px 10px 10px 30px; 
    background-color: #f8f8f8;
}
.date-select{
    margin-top:10px;
}
label.ant-form-item-required::before{
    display: none !important
}
.ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane{
    padding-right: 0px !important;
}
.ant-tabs-top .ant-tabs-nav{
    margin: 0 !important;
}
.ant-tabs-tabpane .ant-form-item{
    margin-bottom: 0px !important;
}